*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

body{
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
}

a, li, ul{
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    scrollbar-width: thin;
    width: 2px;
}

::-webkit-scrollbar-track{
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 0, 0);
}

section{
   margin-top: 100px;
}